@import './variables.scss';
@import './fonts.scss';

body {
  padding: 0px;
  margin: 0px;
  background-color: #eef0f4;
  font-size: 16px;
  font-family: 'Arial';
}

svg {
  cursor: pointer;
  color: var(--icons-color);
}

h1,
h3,
p {
  margin: 0px;
}

.error {
  font-style: italic;
  color: #ff5f64;
  padding-top: 10px;
  font-size: var(--input-size);
}

section .main {
  height: 45px;
  padding: 10px 25px;
  background-color: var(--button-bg-color);
  display: flex;
  color: #ffffff;
  align-items: center;
  font-size: 0.7rem;
  .text-content {
    max-width: 1835px;
    width: 100%;
    margin: auto;
  }
}

/*GENERAL INPUT STYLE*/
main .col.sections-column {
  .form-group {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    font-size: 500;
    flex: 1;
    input {
      padding: 10px;
      background: #f3f4f6;
      border: none;
      border-radius: 0.7em;
      height: 25px;
      margin-top: 10px;
      color: #6c7381;
      font-size: 0.7rem;
    }
    .inline input[type='text'] {
      margin-top: 0px;
    }
    input::placeholder {
      color: #6c7381;
    }
    input:focus-visible {
      outline: none;
    }
  }
  .edit-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    .form-group {
      margin-top: 0px;
    }
    #resumme_name {
      margin-top: 0px;
    }
  }
  .inline {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
    margin-top: 10px;
    input {
      flex: 1%;
    }
  }
  svg,
  .link_name {
    cursor: pointer;
  }
  .link_name svg {
    font-size: var(--button-icons);
  }
  .link_name:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  svg.delete-icon {
    align-self: center;
  }
  .form-group {
    .links {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 5px;
      margin-top: 15px;
    }
    .link_name {
      background: #f3f4f6;
      width: fit-content;
      padding: 10px 15px;
      border-radius: 0.8em;
      color: #6b7280;
      font-weight: 500;
      font-size: 0.7rem;
    }
    &:hover {
      opacity: 0.8;
    }
    label {
      font-size: 0.7rem;
    }
  }
  .row-group {
    gap: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: normal;
    .form-group {
      flex: 0 0 45%;
    }
  }
  form {
    display: flex;
    flex-direction: column;
  }
}

/*GENERAL MAIN COLUMNS STYLE*/

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px 20px;
  max-width: 400px;
  margin: auto;
}

.col.costumize-column {
  display: none;
  flex: 0 0 10%;
  min-height: 300px;
  background-color: #ffffff;
  border-radius: 0.5em;
  height: fit-content;
  max-width: 80px;
  padding: 33px 7px 0px 7px;
  font-weight: 500;
  svg {
    font-size: 1.2rem;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
}

main .col.sections-column {
  flex: 0 0 100%;
  min-height: 500px;
  min-width: 0px;
  .row {
    background-color: #ffffff;
    padding: 20px 30px;
    display: flex;
    font-weight: bold;
    color: #240f33;
    border-radius: 0.7em;
    margin-bottom: 20px;
    justify-content: space-between;
  }
  .row.details {
    display: flex;
    flex-direction: column;
  }
}

/*DOWNLOAD SECTION*/
main .col.sections-column {
  .download-section {
    justify-content: space-between;
    align-items: center;
    .resume-title svg {
      color: #a4a8b0;
    }
  }
  .btn {
    padding: 10px 35px;
    border-radius: 0.9em;
    background-color: var(--button-bg-color);
    color: var(--button-color);
    cursor: pointer;
    float: right;
    font-size: 0.7rem;
    font-weight: 600;
    text-decoration: none;
    display: flex;
  }
  .btn.download-pdf {
    padding: 10px 15px;
    align-items: baseline;
    svg {
      font-size: 1rem;
    }
    span {
      display: none;
    }
  }
  .btn:hover {
    opacity: 0.8;
  }
  .btn svg {
    color: var(--button-color);
    padding-left: 10px;
    font-size: var(--icon-size);
  }
}

.btn-simple {
  border: none;
  background: #ffffff;
  font-weight: bold;
  color: var(--button-bg-color);
  font-size: var(--label-size);
  cursor: pointer;
}
.button-group {
  display: flex;
  align-items: center;
  gap: 15px;
}

//TOOGLE SECTIONS

main .col.sections-column {
  .section-presentation.row {
    flex-direction: column;
  }
  .toogle-header {
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  .toogle-section {
    margin-top: 10px;
  }
  .toogle-section .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #001660;
    border-top: 5px solid #f3f4f6;
    padding: 20px 0px;
  }
  .toogle-section svg {
    color: #4f5765;
  }
  .toogle-section .item.buttons,
  .details .item.buttons {
    justify-content: center;
  }
  .toogle-section .item.buttons .button-section,
  .details .button-section.add {
    border: 5px solid #dfe0e3;
    border-radius: 1em;
    padding: var(--second-button-padding);
    margin-top: 0px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: flex-end;
    height: 18px;
    align-items: normal;
    gap: 0px;
  }
  .toogle-section .item.buttons .button-section:hover,
  .details .button-section.add:hover {
    opacity: 0.8;
  }
  .toogle-section .item.buttons .button-section input,
  .details .item.buttons .button-section input {
    cursor: pointer;
    font-size: 0.7rem;
    padding: 0px;
    font-weight: bold;
  }
  .toogle-section input.add,
  .details input.add {
    border: none;
    background: #ffffff;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
  }
  .ck.ck-editor {
    padding-top: 10px;
  }
  .ck.ck-content {
    min-height: 150px;
  }
}

/*PERSONAL DETAILS SECTION*/
main .col.sections-column {
  .personal-section {
    flex-direction: column;
    position: relative;
    cursor: pointer;
  }
  .personal-section {
    .position {
      color: #8c8d97;
      margin-top: 5px;
    }
    .edit-icon {
      width: fit-content;
      padding: 6px;
      border-radius: 0.9em;
      float: right;
      position: absolute;
      right: 20px;
      font-size: 0.7rem;
    }
    .personal-info {
      list-style: none;
      padding: 0px;
      .item {
        margin-top: 15px;
        color: #443d52;
        font-weight: 500;
        font-size: 0.7rem;
      }
    }
    .name {
      text-transform: capitalize;
    }
  }
}

/*EXPERIENCE, PROJECTS, SKILLS SECTION*/

main .col.sections-column {
  .button-section {
    margin-top: 25px;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
  }
  button {
    float: right;
  }
  .sub-section {
    margin-top: 0px;
  }
  h1 {
    font-size: 0.8rem;
    color: var(--text-color);
    line-height: 1.15rem;
    width: 80%;
    display: flex;

    &:hover {
      opacity: 0.8;
    }
    span {
      width: 80%;
    }
  }
  .section-presentation {
    svg {
      padding-right: 10px;
      font-size: 1rem;
      color: var(--button-bg-color);
      &:hover {
        opacity: 0.8;
      }
    }
    .toogle-header svg.right-icon {
      font-size: 0.7rem;
    }
    .edit-icon svg {
      font-size: 0.7rem;
    }
  }
  .resume-icon {
    padding: 0px !important;
    &.edit {
      font-size: var(--section-header);
    }
  }
}

.col.costumize-column .container {
  margin-bottom: 25px;
  padding: 19px 7px;
  text-align: center;
  border-radius: 0.8em;
  align-items: center;
  cursor: pointer;
  h1 {
    font-weight: 500;
    font-size: var(--label-size);
    margin-top: 12px;
  }
  &.active {
    background: #f9fafb;
  }
}

//FIELD INPUT + BUTTON
.field-btn {
  flex: 80%;
  input[type='text'] {
    width: 95%;
  }
  &.error {
    display: block;
  }
}

#popup-root .popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

//MOBILE BOTTOM MENU

.col.costumize-column.only-mobile {
  background: transparent;
  position: fixed;
  right: 0px;
  bottom: 0px;
  display: block;
  min-height: auto;
  .container.container {
    background-color: #ffffff;
    border-radius: 1.9em;
    padding: 15px;
    background: #f9fafb;
    box-shadow: -1px 2px 7px #b2abab;
  }
}

#popup-root {
  .col.cv-column {
    display: block;
    padding: 20px;
    min-height: 450px;
    max-width: 700px;
    max-height: 450px;
    overflow: auto;
  }
  .popup-content {
    padding: 0px 20px;
  }
}

.more-info {
  font-style: normal;
}

@media screen and (min-width: 575px) {
  main {
    max-width: 600px;
  }
}

@media screen and (min-width: 1200px) {
  .col.costumize-column {
    display: block;
    &.only-mobile {
      display: none;
    }
  }
  main {
    max-width: 1950px;
    .col.sections-column {
      flex: 0 0 40%;
    }
  }
}

@media screen and (min-width: 1400px) {
  main {
    padding: 100px 100px 50px 80px;
    .col.costumize-column {
      svg {
        max-width: 100px;
      }
    }
    .col.sections-column {
      min-width: 550px;
      flex: 0 0 30%;
      h1 {
        font-size: var(--section-header);
        line-height: 1.25rem;
      }
      .row-group {
        flex-direction: row;
        align-items: end;
      }
      .form-group input {
        height: 30px;
      }
      .btn {
        padding: 10px 40px;
        font-size: var(--label-size);
        font-weight: 600;
      }
      .form-group {
        .link_name {
          font-size: var(--label-size);
          svg {
            padding-right: 5px;
          }
        }

        label {
          font-size: var(--label-size);
        }
      }
      .toogle-section .item.buttons .button-section input,
      .details .item.buttons .button-section input {
        font-size: var(--label-size);
        color: var(--button-bg-color);
        font-weight: bold;
      }
      .toogle-section .item.buttons .button-section,
      .details .button-section.add {
        align-items: center;
      }
      .personal-section .personal-info .item {
        font-size: 0.8rem;
      }
      .section-presentation {
        .edit-icon svg {
          font-size: var(--icon-size);
        }
        svg {
          font-size: var(--button-icons);
        }
        .toogle-header svg.right-icon {
          font-size: var(---icon-size);
        }
      }
      .sub-section {
        margin-top: 25px;
      }

      .btn.download-pdf {
        padding: var(--button-padding);
        svg {
          font-size: var(--icon-size);
        }
        span {
          display: block;
        }
      }
      .resume-icon {
        padding-left: 10px !important;
      }
    }
  }

  section .main {
    font-size: 0.9rem;
  }
  #popup-root .col.cv-column {
    min-height: 600px;
    max-width: 700px;
    max-height: 600px;
  }
}
