@import './variables.scss';
@import './fonts.scss';

body{
    padding: 0px;
    margin: 0px;
    background-color: #eef0f4;
    font-size: 16px;
    font-family: 'Arial';
  }

  svg{
    cursor: pointer;
    color: var(--icons-color);
  }

  h1, h3, p{
    margin: 0px;
  }

  .error{
    font-style: italic;
    color: #ff5f64;
    padding-top: 10px;
    font-size: 0.9rem;
  }

  section .main{
    height: 45px;
    padding: 10px 20px;
    background-color: var(--button-bg-color);
    display: flex;
    color: #ffffff;
    align-items: center;
    font-size: 0.9rem;
  }
  section .main .text-content{
    max-width: 1950px;
    width: 100%;
    margin: auto;
  }


  /*GENERAL INPUT STYLE*/
  main .col.sections-column .form-group{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    font-size: 500;
    flex: 1;

  }

  main .col.sections-column .inline{
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
  }

  main .col.sections-column .inline input{
    flex: 1%;
  }

  main .col.sections-column svg, main .col.sections-column .link_name{
    cursor: pointer;
    padding-right: 5px;
  }


  main .col.sections-column .form-group .links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 15px;
  }


  main .col.sections-column .form-group .link_name{
    background: #f3f4f6;
    width: fit-content;
    padding: 10px 15px;
    border-radius: 0.8em;
    color: #6b7280;
    font-weight: 500;
    font-size: 0.7rem;
  }

  main .col.sections-column .form-group label{
    font-size: 0.7rem;

  }

  main .col.sections-column .row-group{
    gap: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: normal;

  }

  main .col.sections-column .row-group .form-group{
    flex: 1 1 45%;
  }

  main .col.sections-column form{
    display: flex;
    flex-direction: column;
  }

  main .col.sections-column .form-group input{
    padding: 10px;
    background: #f3f4f6;
    border: none;
    border-radius: 0.7em;
    height: 25px;
    margin-top: 10px;
    color: #6c7381;
  }

  main .col.sections-column .form-group input::placeholder{
    color: #6c7381;


  }

  main .col.sections-column .form-group input:focus-visible{
    outline: none;
  }

  /*GENERAL MAIN COLUMNS STYLE*/

  main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 20px;
    max-width: 400px;
    margin: auto;
  }

  main .col.costumize-column{
    display: none;
    flex: 0 0 10%;
    min-height: 400px;
    background-color: #ffffff;
    border-radius: 0.5em;
    height: fit-content;
    max-width: 80px;
    padding: 33px 20px 0px 20px;
    font-weight: 500;
  }

  main .col.costumize-column svg{
    font-size: 20px;

  }

  main .col.costumize-column .content{
    display: flex;
    flex-direction: column;
  }

  main .col.sections-column{
    flex: 0 0 100%;
    min-height: 500px;
    min-width: 0px;
  }

  main .col.sections-column .row{
    background-color: #ffffff;
    padding: 25px 30px;
    display: flex;
    font-weight: bold;
    color: #240f33;
    border-radius: 0.7em;
    margin-bottom: 20px;
    justify-content: space-between;
  }

  main .col.sections-column .row.details{
    display: flex;
    flex-direction: column;

  }




  /*DOWNLOAD SECTION*/
  main .col.sections-column .download-section{
    justify-content: space-between;
    align-items: center;

  }
  main .col.sections-column .download-section .resume-title svg{
    color: #a4a8b0;
  }
  main .col.sections-column .btn{
    padding: 10px 35px;
    border-radius: 0.9em;
    background-color: var(--button-bg-color);
    color: var(--button-color);
    cursor: pointer;
    float: right;
    font-size: 0.7rem;
    font-weight: 600;
  }

  main .col.sections-column .btn svg{
    color: var(--button-color);
    padding-left: 10px;
    font-size: 1.3rem;

  }

  //TOOGLE SECTIONS

  main .col.sections-column .section-presentation.row{
    flex-direction: column;

  }

  main .col.sections-column .toogle-header{
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  main .col.sections-column .toogle-section .item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #001660;
    border-top: 5px solid #f3f4f6;
    padding: 20px 0px;

  }

  main .col.sections-column .toogle-section svg{
    color: #4f5765;
  }

  main .col.sections-column .toogle-section{
    margin-top: 10px;
  }

  main .col.sections-column .toogle-section .item.buttons, main .col.sections-column .details .item.buttons{
    justify-content: center;
  }

  main .col.sections-column .toogle-section .item.buttons .button-section,
  main .col.sections-column .details .button-section.add {
    border: 5px solid #f3f4f6;
    border-radius: 1em;
    padding: 8px 24px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: flex-end;
    height: 15px;
    align-items: normal;
    gap: 0px;

  }

  main .col.sections-column .toogle-section .item.buttons .button-section input,
  main .col.sections-column .details .item.buttons .button-section input{
    cursor: pointer;
    font-size: 0.7rem;
    padding: 0px;
  }

  main .col.sections-column .toogle-section input.add,
  main .col.sections-column .details  input.add{
    border: none;
    background: #ffffff;
  }

  main .col.sections-column  .ck.ck-editor{
    padding-top: 10px;
  }

  main .col.sections-column  .ck.ck-content{
    min-height: 150px;

  }


  /*PERSONAL DETAILS SECTION*/
  main .col.sections-column .personal-section{
    flex-direction: column;
    position: relative;
  }

  main .col.sections-column .personal-section .position{
    color: #8c8d97;
    margin-top: 5px;

  }

  main .col.sections-column .personal-section .edit-icon{
    width: fit-content;
    padding: 6px;
    border-radius: 0.9em;
    float: right;
    position: absolute;
    right: 20px;
  }


  main .col.sections-column .personal-section .edit-icon{
    font-size: 0.7rem;
  }

  main .col.sections-column .personal-section .personal-info{
    list-style: none;
    padding: 0px;
  }

  main .col.sections-column .personal-section .personal-info .item{
    margin-top: 15px;
    color: #443d52;
    font-weight: 500;
    font-size: 0.7rem;
  }

  main .col.sections-column .personal-section .name{
    text-transform: capitalize;
  }


  /*EXPERIENCE, PROJECTS, SKILLS SECTION*/


  main .col.sections-column .button-section{
    margin-top: 25px;
    display: flex;
    gap: 5px;

  }

  main .col.sections-column button{
    float: right;
  }

  main .col.sections-column .sub-section{
    margin-top: 0px;
  }


  main .col.sections-column h1{
    font-size: 0.8rem;
    color: var(--text-color);
    line-height: 1.15rem;
    width: 80%;
    display: flex;
  }

  main .col.sections-column h1 span{
    width: 80%;
  }

  main .col.costumize-column .container h1{
    font-weight: 500;
    font-size: 0.9rem;
    margin-top: 12px;
  }
  main .col.costumize-column .container{
    margin-bottom: 25px;
    padding: 19px 7px;
    text-align: center;
    border-radius: 0.8em;
    align-items: center;
  }

  main .col.costumize-column .container.active{
    background: #f9fafb;
  }


  main .col.sections-column .section-presentation svg{
    padding-right: 10px;
    font-size: 1rem;
  }

  main .col.sections-column .section-presentation .toogle-header svg.right-icon{
    font-size: 0.7rem;
  }

  main .col.sections-column .section-presentation  .edit-icon svg{
    font-size: 0.7rem;

  }

  //FIELD INPUT + BUTTON
  .field-btn{
    display: flex;
    align-items: end;
    gap: 10px
  }

  .field-btn input[type='text']{
    flex: 1;
  }

  #popup-root .popup-overlay {
    background: rgba(0,0,0,0.5);
  }


@media screen and (min-width: 575px) {

  main{
    max-width: 600px;
  }


}


@media screen and (min-width:1200px){

  main .col.costumize-column{
    display: block;
  }
  main{
    max-width: 1950px;
  }

  main .col.sections-column{
    flex: 0 0 40%;
  }

}

@media screen and (min-width:1400px){

  main .col.sections-column{
    min-width: 700px;
  }

  main .col.sections-column h1{
    font-size: 1.2rem;
    line-height: 1.75rem;
  }

  main{
    padding: 100px 100px 50px 80px;
  }

  main .col.sections-column .row-group{
    flex-direction: row;
    align-items: end;

  }

  main .col.sections-column .form-group input{
    height: 35px;
  }

  main .col.sections-column .btn{
    padding: 15px 44px;
    font-size: 1rem;
    font-weight: 600;
  }

  main .col.sections-column .form-group .link_name{
    font-size: 1rem;
  }

  main .col.sections-column .form-group label{
    font-size: 1rem;

  }

  main .col.sections-column .toogle-section .item.buttons .button-section input,
  main .col.sections-column .details .item.buttons .button-section input{
    font-size: 1rem;
  }


  main .col.sections-column .toogle-section .item.buttons .button-section,
  main .col.sections-column .details .button-section.add {
    padding: 13px 30px;
  }

  main .col.sections-column .personal-section .personal-info .item{
    font-size: 1rem;
  }

  main .col.sections-column .section-presentation  .edit-icon svg{
    font-size: 1rem;

  }

  main .col.sections-column .section-presentation svg{
    padding-right: 15px;
    font-size: 1.3rem;
  }

  main .col.sections-column .section-presentation .toogle-header svg.right-icon{
    font-size: 1rem;
  }

  main .col.sections-column{
    flex: 0 0 30%;
  }

  main .col.sections-column .sub-section{
    margin-top: 25px;
  }

  main .col.costumize-column svg{
    font-size: 30px;
  }


  main .col.costumize-column{
    max-width: 100px;
  }

}