:root {
  --text-color: #424242;
  --icons-color: #000000;
  --button-bg-color: #200e32;
  --button-color: #ffffff;
  --icon-size: 1rem;
  --section-header: 0.9rem;
  --label-size: 0.8rem;
  --button-padding: 10px 40px;
  --button-icons: 0.8rem;
  --input-size: 0.7rem;
  --second-button-padding: 8px 24px;
  --main-size: 550px;
}
